name: Build Docker Image check

on:
  workflow_call:
    inputs:
      buildtype:
        required: false
        type: string
        default: "cloud"
      arch:
        type: string
        required: false
        default: X64
      ref:
        type: string
        required: false
        default: ${{ github.ref }}

env:
  buildtype: ${{inputs.buildtype}}

jobs:
  build-and-push:
    runs-on: [self-hosted, "${{ inputs.arch }}"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}

      - name: Log in to Scaleway Container Registry
        run: |
          REPO_NAME="$(basename ${{ github.repository }})"
          echo "CONTAINER_PATH=rg.${{ secrets.SCW_REGION }}.scw.cloud/${{secrets.SCW_NAMESPACE}}/${REPO_NAME}-${{env.buildtype}}:${{github.sha}}" >> $GITHUB_ENV
          echo "REPO_NAME=${REPO_NAME}" >> $GITHUB_ENV
          echo ${{secrets.SCW_SECRET_KEY}} | docker login rg.${{secrets.SCW_REGION}}.scw.cloud -u ${{secrets.SCW_ACCESS_KEY}} --password-stdin

      - name: Build and Tag Docker Image
        run: |
          docker build \
            --build-arg CONFIGURATION_TYPE=${{ env.buildtype }} \
            --build-arg BUILD_VERSION=${{ github.sha }} \
            -t $(basename ${{ github.repository }}):${{ github.sha }} \
            -f Dockerfile.${{ env.buildtype }} .
